@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Course

<h2>Add a new course</h2>

<div>
    <form asp-controller="Course" asp-action="Create" method="post">
        @Html.HiddenFor(m => m.Students)
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Instructor">Instructor</label>
            <input asp-for="@Model.Instructor" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.StartDate">Start Date</label>
            <input asp-for="@Model.StartDate" type="date" class="form-control" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="@Model.RoomNumber">Room Number</label>
            <input asp-for="@Model.RoomNumber" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-controller="Course" asp-action="Index" type="reset" class="btn btn-secondary">Cancel</a>
    </form>
</div>