@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Regret</h2>

<div>
    <p>Hey @Model.Student.Name, we are sorry to hear that you will not be joining us for the '@Model.Course.Name' course in room @Model.Course.RoomNumber
        starting on @Model.Course.StartDate with @Model.Course.Instructor - we hope to see you next time!
    </p>
</div>